<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/app-localize-behavior/app-localize-behavior.html">

<dom-module id="time-since">
    <template>
        [[timeSince]]
    </template>
    <script>
        class TimeSince extends Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element) {
            static get is() {
                return 'time-since';
            }

            static get properties() {
                return {
                    language: {
                        value: 'sv'
                    },
                    time: {
                        type: Date
                    },
                    now: {
                        type: Date
                    },
                    timeSince: {
                        type: String,
                        computed: 'computeTimeSince(localize, time, now)'
                    }
                };
            }

            updateTimeSince() {
                this.now = new Date();
            }

            computeTimeSince(localize, time, now) {
                let seconds = Math.floor((now - time) / 1000);
                if (seconds < 60) {
                    return localize('just-now');
                }
                let minutes = Math.floor(seconds / 60);
                if (minutes < 2) {
                    return localize('minute-ago');
                } else if (minutes < 60) {
                    return localize('minutes-ago', 'minutes', minutes);
                }
                let hours = Math.floor(minutes / 60);
                if (hours < 2) {
                    return localize('hour-ago');
                } else if (hours < 24) {
                    return localize('hours-ago', 'hours', hours);
                }
                let days = Math.floor(hours / 24);
                if (days < 2) {
                    return localize('day-ago');
                } else {
                    return localize('days-ago', 'days', days);
                }
            }

            connectedCallback() {
                this.loadResources(this.resolveUrl("locales.json"));
                this.updateTimeSince();
                this._timerHandle = window.timeSinceTimer.registerCallback(this.updateTimeSince.bind(this));
            }

            disconnectedCallback() {
                if (this._timerHandle) {
                    this._timerHandle.remove();
                    this._timerHandle = null;
                }
            }
        }

        customElements.define(TimeSince.is, TimeSince);

        class GlobalTimer {
            constructor() {
                this.callbacks = [];
                this.id = null;
            }

            start() {
                if (!this.id) {
                    console.log('Starting GlobalTimer');
                    this.id = setInterval(this.notifyCallbacks.bind(this), 5000);
                }
            }

            stop() {
                if (this.id) {
                    console.log('Stopping GlobalTimer');
                    clearInterval(this.id);
                    this.id = null;
                }
            }

            registerCallback(callback) {
                this.callbacks.push(callback);
                let globalTimer = this;
                return {
                    remove() {
                        globalTimer.removeCallback(callback);
                    }
                };
            }

            removeCallback(callback) {
                this.callbacks = this.callbacks.filter(v => v !== callback);
            }

            notifyCallbacks() {
                for (let i in this.callbacks) {
                    this.callbacks[i]();
                }
            }
        }

        if (!window.timeSinceTimer) {
            window.timeSinceTimer = new GlobalTimer();
            window.timeSinceTimer.start();
        }
    </script>
</dom-module>